<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTP_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTP_Uploader.Properties.Settings>
            <setting name="Protocolo" serializeAs="String">
                <value>FTPS (Explícito)</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Porta" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="PastaRemota" serializeAs="String">
                <value>/public_html/imagens</value>
            </setting>
            <setting name="BaseUrlPublica" serializeAs="String">
                <value />
            </setting>
            <setting name="ModoPassivo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeoutMs" serializeAs="String">
                <value>15000</value>
            </setting>
        </FTP_Uploader.Properties.Settings>
    </userSettings>
</configuration>